$font-color-title: grey;
$font-color-text: rgb(27, 27, 27);
$font-color-btn: rgb(255, 255, 255);
$font-color-warning: rgb(182, 55, 55);
$font-color-success: rgb(70, 146, 99);
$font-color-pagination: rgb(87, 87, 87);

$border-color-input: rgb(199, 198, 198);

$bg-color-input: rgb(233, 232, 232);
$bg-color-btn: rgb(41, 40, 41);

$font-size-title: 30px;
$font-size-middle: 22px;
$font-size-small: 16px;